{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid col-md-10 text-center">
    <h2 class = "text text-success">Subjects</h2>
    <a class="btn btn-primary mt-5" href="{{path('subject_add')}}">ADD</a>
    <table class = "table table-bordered">
        <tr>
            <th>ID</th>
            <th>Subject Name</th>
            <th>Teacher Subject</th>
            <th>Description</th>
            <th>Subject Image</th>
            <th>Actions</th>
        </tr>
        {% for subject in subjects %}
            <tr>
                <td>{{subject.id}}</td>
                <td>{{subject.name}}</td>
                <td>
                    {% if subject.teacher != null %}
                        <a class="text text-success text-decoration-none" href="{{ path('course_detail', {'id' : subject.teacher.id })}}">
                            {{ subject.teacher.name }}
                        </a>   
                    {% endif %}
                </td>
                <td>{{subject.description}}</td>
                <td>
                    {# <img src="{{ subject.image }}" width=150 height=150> #}
                    <a href="{{path('subject_detail',{'id':subject.id})}}">
                        <img src="{{subject.image}}" width=120 height=120>
                    </a>
                </td>
                <td>
                    <a class="btn btn-success" href="{{path('subject_edit', {'id': subject.id})}}">Edit</a>
                    <a class="btn btn-info" href="{{path('subject_delete',{'id':subject.id})}}"
                    onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
