{% extends "base.html.twig" %}

{% block body %}
<div class="container-fluid col-md-10 text-center">
    <h2 class = "text text-success">Mark Report</h2>
    <a class="btn btn-primary mt-5" href="{{path('semester_add')}}">ADD</a>
    <table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Student Name</th>
        <th>Subject Name</th>
        <th>Semester</th>
        <th>Mark assignment 1</th>
        <th>Mark assignment 2</th>
        <th>Menu</th>
    </tr>
    {% for mark in marks %}
    <tr>
        <td>{{mark.id}}</td>
        <td>{{mark.student.name}}</td>
        <td>{{mark.subject.name}}</td>
        <td>{{mark.semester.name}}</td>
        <td>{{mark.assignment1}}</td>
        <td>{{mark.assignment2}}</td>
        <td>
            <a class="btn btn-warning" href="{{path('semester_edit', {'id': semester.id})}}">Edit</a>
            <a class="btn btn-danger" href="{{path('semester_delete',{'id':semester.id})}}"
            onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </table>
    

</div>
{% endblock %}